@use "../abstracts/" as a;

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  &__content {
    padding-block: a.rem(50px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "left right-top"
      "left right-bottom";
    row-gap: 16px;
  }

  &__logo {
    grid-area: left;
    justify-self: start;
  }

  &__top {
    grid-area: right-top;
    justify-self: end;
  }

  &__bottom {
    grid-area: right-bottom;
    justify-self: end;
  }

  &__top {
    display: flex;
    align-items: flex-start;
  }

  &__contacts {
    display: flex;
    white-space: nowrap;

    > *::before {
      content: "";
      display: inline-block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      margin-inline: 6px;
      background-color: a.$color-grey-separator;
    }
  }

  &__telephone {
    font-weight: a.$font-weight-bold;
  }

  &__socials img {
    display: inline-block;
    vertical-align: middle;
  }
}
