@use "../abstracts/" as a;

.header {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;

  &__content {
    padding-block: 50px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "left right-top"
      "left right-bottom";
    justify-items: end;
    row-gap: 16px;
  }

  &__logo {
    grid-area: left;
    justify-self: start;
    align-self: center;
  }

  &__top {
    grid-area: right-top;
    display: flex;
  }

  &__bottom {
    grid-area: right-bottom;
  }

  &__contacts {
    display: flex;
    align-items: center;
    white-space: nowrap;

    > *::before {
      content: "";
      flex-shrink: 0;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      margin-inline: 6px;
      background-color: a.$color-grey-separator;
    }
  }

  &__address {
    display: inline-flex;
    align-items: center;
  }
}
