body {
  margin: 0;
}

.container {
  padding: 10px 20px;
  margin: 15px auto;

  display: grid;
  grid-template-columns: 1fr 1fr;

  background-color: lightgrey;
}

.block {
  height: 50px;
  width: 150px;

  text-align: center;

  background-color: grey;
  border: 1px solid black;
}

.container > .block:nth-child(2) {
  justify-self: end;
}

.block-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  justify-self: end;
  direction: rtl;
}

.block-wrapper-left,
.block-wrapper-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.block-wrapper-left {
  justify-self: start;
}

.block-wrapper-right {
  justify-self: end;
  direction: rtl;
}
