body {
  margin: 0;
}

.container {
  padding: 10px 20px;
  margin-bottom: 15px;

  display: grid;
  grid-template-columns: 1fr 1fr;

  background-color: lightgrey;
}

.block {
  height: 50px;
  width: 150px;

  text-align: center;

  background-color: grey;
  border: 1px solid black;
}

.block:last-child {
  justify-self: end;
}
