body {
  margin: 0;
}

.container {
  height: 50px;
  padding: 10px 0 10px 20px;
  margin-bottom: 15px;

  background-color: lightgrey;
}

.container-big {
  height: 112px;
}

.block {
  height: 50px;
  width: 150px;
  margin-right: 20px;

  text-align: center;

  background-color: grey;
  border: 1px solid black;
}

.block-big-height {
  height: 112px;
}

.block-wrapper .block:first-child {
  margin-bottom: 10px;
}

.block-left {
  float: left;
}

.block-right {
  float: right;
}
