.circle {
  animation: octopus 6s infinite;
}

.circle:hover {
  animation-play-state: paused;
}

@keyframes octopus {
  25% {
    stroke: cyan;
    fill: burlywood;
  }
  50% {
    stroke: blue;
    fill: olive;
  }
  75% {
    stroke: green;
    fill: salmon;
  }
}

.ellipse {
  transition: all 1.5s;
}

.ellipse:hover {
  stroke: fuchsia;
  fill: teal;
}
