@use "../abstracts" as a;

.projects {
  background-color: a.$color-accent;

  &__content {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: clamp(a.rem(20px), 0.81rem + 1.88vw, a.rem(49px));

    padding-block: clamp(a.rem(36px), 1.279rem + 4.14vw, a.rem(100px));

    @include a.responsive(a.$breakpoint-tablet) {
      flex-wrap: wrap;
      column-gap: clamp(a.rem(20px), -6.043rem + 23.67vw, a.rem(149px));
    }
  }

  &__item {
    display: flex;
    gap: a.rem(20px);
    flex: 0 0 a.rem(141px);
    align-items: center;
  }
}
