.wrapper {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background: transparent;
  color: inherit;
  cursor: pointer;
}

.image {
  overflow: hidden;
}

.image__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pagination {
  display: flex;
  gap: clamp(8px, calc(5px + 1vw), 15px);
}

.pagination__dot {
  width: clamp(10px, calc(6px + 1vw), 16px);
  height: clamp(10px, calc(6px + 1vw), 16px);
  border-radius: 50%;
  background-color: black;
  opacity: 0.6;
  outline: none;
  transition:
    opacity 0.2s,
    transform 0.2s;

  &:not(.pagination__dot--active) {
    @media (hover: hover) {
      &:hover {
        transform: scale(1.15);
      }
    }

    &:focus-visible {
      transform: scale(1.15);
      outline: 2px solid black;
      outline-offset: 4px;
    }

    &:active {
      transform: scale(1);
    }
  }
}

.pagination__dot--active {
  opacity: 1;
  cursor: pointer;

  &:focus-visible {
    outline: 2px solid black;
    outline-offset: 4px;
  }
}

/**************************************************/
/*                     SLIDER                      /
/**************************************************/

.slider {
  position: relative;
  width: min(calc(100% - clamp(100px, calc(53px + 14.7vw), 200px)), 600px);
  user-select: none;
  margin-inline: auto;
}

.slider__viewport {
  width: 100%;
  aspect-ratio: 600 / 534;
  overflow: hidden;
  margin-bottom: clamp(45px, calc(35px + 3vw), 65px);
}

.slider__track {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.4s;
  will-change: transform;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
  touch-action: pan-y;
}

.slider__slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  will-change: transform;
}

.slider__image {
  width: 100%;
  height: 100%;
}

.slider__track-title {
  font-family: sans-serif;
  font-weight: 900;
  font-size: clamp(10px, calc(6px + 1vw), 14px);
  opacity: 0;
  color: black;
  text-align: center;
  position: absolute;
  bottom: 58px;
  right: 50%;
  transform: translateX(50%);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  transition: opacity 1s;
}

.slider__track-time {
  position: absolute;
  bottom: 56px;
  right: 50%;
  transform: translateX(48.75%);
  width: 125px;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
}

.slider__track-full-time,
.slider__track-current-time {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  background-color: black;
  height: 100%;
  transition: opacity 1s;
}

.slider__track-full-time {
  width: 100%;
}

.slider__link-shop {
  font-family: sans-serif;
  font-weight: 900;
  font-size: clamp(10px, calc(6px + 1vw), 14px);
  opacity: 0.6;
  color: black;
  text-align: center;
  position: absolute;
  bottom: -28px;
  right: 50%;
  transform: translateX(50%);
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}
/**************************************************/
/*                 SLIDER BUTTONS                  /
/**************************************************/

.slider__btn {
  position: absolute;
  width: clamp(25px, calc(10px + 4.5vw), 60px);
  height: clamp(25px, calc(10px + 4.5vw), 60px);
  color: black;
  opacity: 0.6;
  outline: none;
  transition:
    opacity 0.2s,
    transform 0.2s;

  @media (hover: hover) {
    &:hover {
      opacity: 1;
    }
  }

  &:focus-visible {
    opacity: 1;
  }

  svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
  }
}

.slider__btn--prev,
.slider__btn--next {
  top: calc(50% - clamp(15px, calc(8px + 2vw), 28px));
  transform: translateY(-50%);

  @media (hover: hover) {
    &:hover {
      transform: translateY(-50%) scale(1.15);
    }
  }

  &:focus-visible {
    transform: translateY(-50%) scale(1.15);
  }

  &:active {
    transform: translateY(-50%) scale(1);
  }
}

.slider__btn--prev {
  left: clamp(-100px, calc(-30px - 6vw), -50px);
}
.slider__btn--next {
  right: clamp(-100px, calc(-30px - 6vw), -50px);
}

.slider__btn--pause,
.slider__btn--play {
  top: 0;
  right: clamp(-40px, calc(-10px - 3vw), -20px);
  transform: translateX(50%);

  @media (hover: hover) {
    &:hover {
      transform: translateX(50%) scale(1.15);
    }
  }

  &:focus-visible {
    transform: translateX(50%) scale(1.15);
  }

  &:active {
    transform: translateX(50%) scale(1);
  }
}

.slider__btn--play {
  display: inline-flex;
}
.slider__btn--pause {
  display: none;
}

.slider__pagination {
  justify-content: center;
}

/**************************************************/
/*              SLIDER AUDIO BUTTONS               /
/**************************************************/

.slider__audio-btns {
  display: flex;
  gap: 16px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 23px;
}

.slider__btn-audio {
  width: 25px;
  height: 25px;
  color: black;
  opacity: 0.6;
  outline: none;
  transition:
    opacity 0.2s,
    transform 0.2s;

  @media (hover: hover) {
    &:hover {
      opacity: 1;
      transform: scale(1.15);
    }
  }

  &:focus-visible {
    opacity: 1;
    transform: scale(1.15);
  }

  svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
  }
}

.slider__btn-audio--next,
.slider__btn-audio--prev {
  opacity: 0.2;
  pointer-events: none;
  transition:
    opacity 0.2s,
    transform 0.2s;
}

.slider__btn-audio--next {
  transform: translate(1px, 7px) scale(1);
}
.slider__btn-audio--prev {
  transform: translate(-3px, 7px) scale(1);
}

.slider__btn-audio--play,
.slider__btn-audio--pause {
  width: 37px;
  height: 37px;
}

.slider__btn-audio--pause {
  display: none;
}
.slider__btn-audio--play {
  display: inline-flex;
}

/**************************************************/
/*              SLIDER AUTOPLAY STATE              /
/**************************************************/

.slider--autoplay {
  .slider__btn--play {
    display: none;
  }
  .slider__btn--pause {
    display: inline-flex;
  }
}

/**************************************************/
/*             SLIDER AUDIO PLAY STATE             /
/**************************************************/

.slider--audio-play {
  .slider__btn-audio--play {
    display: none;
  }
  .slider__btn-audio--pause {
    display: inline-flex;
  }

  .slider__btn--play {
    opacity: 0.2;
    pointer-events: none;
  }

  .slider__btn-audio--next,
  .slider__btn-audio--prev {
    opacity: 0.6;
    pointer-events: auto;
  }

  .slider__btn-audio--next {
    @media (hover: hover) {
      &:hover {
        opacity: 1;
        transform: translate(1px, 7px) scale(1.15);
      }
    }

    &:focus-visible {
      opacity: 1;
      transform: translate(1px, 7px) scale(1.15);
    }

    &:active {
      transform: translate(1px, 7px) scale(1);
    }
  }

  .slider__btn-audio--prev {
    @media (hover: hover) {
      &:hover {
        opacity: 1;
        transform: translate(-3px, 7px) scale(1.15);
      }
    }

    &:focus-visible {
      opacity: 1;
      transform: translate(-3px, 7px) scale(1.15);
    }

    &:active {
      transform: translate(-3px, 7px) scale(1);
    }
  }

  .slider__track-title {
    opacity: 0.6;
  }

  .slider__track-full-time {
    opacity: 0.2;
  }

  .slider__track-current-time {
    opacity: 0.6;
  }
}

/**************************************************/
/*         SLIDER BUTTONS KEYBOARD RESPONSE        /
/**************************************************/

.slider__btn--prev.is-pressed,
.slider__btn--next.is-pressed {
  transform: translateY(-50%) scale(1);
}

.slider__btn--play.is-pressed,
.slider__btn--pause.is-pressed {
  transform: translateX(50%) scale(1);
}

.slider__btn-audio.is-pressed {
  transform: scale(1);
}

.slider--audio-play .slider__btn-audio--next.is-pressed {
  transform: translate(1px, 7px) scale(1);
}

.slider--audio-play .slider__btn-audio--prev.is-pressed {
  transform: translate(-3px, 7px) scale(1);
}
