.wrapper {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background: transparent;
  color: inherit;
  cursor: pointer;
}

.image {
  overflow: hidden;

  .image__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.pagination {
  display: flex;
  gap: 15px;

  .pagination__dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: black;
    opacity: 0.6;
    transition:
      opacity 0.2s,
      transform 0.1s;

    &:not(.pagination__dot--active) {
      @media (hover: hover) {
        &:hover {
          transform: scale(1.15);
        }
      }

      &:active {
        transform: scale(1);
      }
    }
  }

  .pagination__dot--active {
    pointer-events: none;
    opacity: 1;
  }
}

/**************************************************/
/*                     SLIDER                      /
/**************************************************/

.slider {
  position: relative;
  width: min(100%, 600px);
  user-select: none;

  .slider__viewport {
    width: 100%;
    aspect-ratio: 600 / 534;
    overflow: hidden;
    margin-bottom: 40px;
  }

  .slider__track {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.4s;
    will-change: transform;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform-style: preserve-3d;
    touch-action: pan-y;
  }

  .slider__slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
  }

  .slider__image {
    width: 100%;
    height: 100%;
  }

  .slider__btn {
    position: absolute;
    width: 60px;
    height: 60px;
    color: black;
    opacity: 0.6;
    transition: opacity 0.2s;

    @media (hover: hover) {
      &:hover {
        opacity: 1;

        & > svg {
          transform: scale(1.15);
        }
      }
    }

    &:active {
      & > svg {
        transform: scale(1);
      }
    }

    svg {
      width: 100%;
      height: 100%;
      fill: currentColor;
      transition: transform 0.2s;
    }
  }

  .slider__btn--prev,
  .slider__btn--next {
    top: calc(50% - 28px);
    transform: translateY(-50%);
  }

  .slider__btn--prev {
    left: -100px;
  }

  .slider__btn--next {
    right: -100px;
  }

  .slider__btn--pause,
  .slider__btn--play {
    top: 0;
    right: -40px;
    transform: translateX(50%);
  }

  .slider__btn--play {
    display: inline-flex;
  }

  .slider__btn--pause {
    display: none;
  }

  .slider__pagination {
    display: flex;
    justify-content: center;
  }
}

.slider--autoplay {
  .slider__btn--play {
    display: none;
  }

  .slider__btn--pause {
    display: inline-flex;
  }
}
