body {
  margin: 0;
}

.container {
  min-width: 668px;
  padding: 10px 20px;
  margin: 15px 0;

  background-color: lightgrey;
}

.block {
  height: 50px;
  width: 150px;

  text-align: center;

  background-color: grey;
  border: 1px solid black;
}

.block-big-height {
  height: 112px;
}

.block-big-width {
  width: 300px;
}

.grid {
  display: grid;
  gap: 10px 20px;
}

.grid1 {
  grid-template-columns: 1fr 1fr;
}

.grid2-v1 {
  grid-template-columns: 1fr 1fr auto auto;
}

.grid2-v2 {
  grid-template-columns: 1fr auto auto auto;
}

.grid3-v1 {
  grid-template-columns: auto 1fr 1fr auto;
}

.grid3-v2 {
  grid-template-columns: auto 1fr auto auto;
}

.grid4-v1 {
  grid-template-columns: 1fr auto auto;
  grid-template-rows: auto auto;
}

.grid4-v2 {
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
}

.grid4-v3 {
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "big-height right-top"
    "big-height right-bottom";
}

.grid5-v1 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.grid5-v2 {
  grid-template-columns: 1fr auto auto 1fr;
  grid-template-rows: auto auto;
}

.grid5-v3 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "big-height big-width-top"
    "big-height big-width-bottom";
}

.grid5-v4 {
  grid-template-columns: 1fr auto auto 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    ". big-height big-width-top ."
    ". big-height big-width-bottom .";
}

.grid1 .block:last-child {
  justify-self: end;
}

.grid2-v1 .block:nth-child(2) {
  justify-self: end;
}

.grid3-v1 .block:nth-child(3) {
  justify-self: end;
}

.grid4-v1 .block:nth-child(1) {
  grid-column: 2;
  grid-row: 1 / 3;
}

.grid4-v1 .block:nth-child(2) {
  grid-column: 3;
}

.grid4-v1 .block:nth-child(3) {
  grid-column: 3;
}

.grid4-v2 .block:nth-child(1) {
  grid-column: 1;
  grid-row: 1 / 3;
  justify-self: end;
}

.grid4-v2 .block:nth-child(2) {
  grid-column: 2;
}

.grid4-v2 .block:nth-child(3) {
  grid-column: 2;
}

.grid4-v3 .block:nth-child(1) {
  grid-area: big-height;
  justify-self: end;
}

.grid4-v3 .block:nth-child(2) {
  grid-area: right-top;
}

.grid4-v3 .block:nth-child(3) {
  grid-area: right-bottom;
}

.grid5-v1 .block:nth-child(1) {
  grid-column: 1;
  grid-row: 1 / 3;
  justify-self: end;
}

.grid5-v2 .block:nth-child(1) {
  grid-column: 2;
  grid-row: 1 / 3;
}

.grid5-v2 .block:nth-child(2) {
  grid-column: 3;
}

.grid5-v2 .block:nth-child(3) {
  grid-column: 3;
}

.grid5-v3 .block:nth-child(1) {
  grid-area: big-height;
  justify-self: end;
}

.grid5-v3 .block:nth-child(2) {
  grid-area: big-width-top;
}

.grid5-v3 .block:nth-child(3) {
  grid-area: big-width-bottom;
}

.grid5-v4 .block:nth-child(1) {
  grid-area: big-height;
}

.grid5-v4 .block:nth-child(2) {
  grid-area: big-width-top;
}

.grid5-v4 .block:nth-child(3) {
  grid-area: big-width-bottom;
}
