@use "variables" as v;

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%text-bold-h1 {
  font-weight: v.$font-weight-bold;
  font-size: v.$font-size-h1;
  line-height: v.$line-height-tight;
}

%text-bold-h2 {
  font-weight: v.$font-weight-bold;
  font-size: v.$font-size-h2;
  line-height: v.$line-height-tight;
}
