body {
  margin: 0;
}

.container {
  min-width: 668px;
  padding: 10px 20px;
  margin: 15px 0;

  background-color: lightgrey;
}

.block {
  height: 50px;
  width: 150px;

  text-align: center;

  background-color: grey;
  border: 1px solid black;
}

.grid {
  display: grid;
  gap: 20px;
}

.grid1 {
  grid-template-columns: 1fr 1fr;
}

.grid2-v1 {
  grid-template-columns: 1fr 1fr auto auto;
}

.grid2-v2 {
  grid-template-columns: 1fr auto auto auto;
}

.grid3-v1 {
  grid-template-columns: auto 1fr 1fr auto;
}

.grid3-v2 {
  grid-template-columns: auto 1fr auto auto;
}

.grid1 .block:last-child {
  justify-self: end;
}

.grid2-v1 .block:nth-child(2) {
  justify-self: end;
}

.grid3-v1 .block:nth-child(3) {
  justify-self: end;
}
