body {
  margin: 0;
}

.container {
  height: 50px;
  min-width: 688px;
  padding: 10px 0 10px 20px;
  margin-bottom: 15px;

  background-color: lightgrey;
}

.block {
  height: 50px;
  width: 150px;
  margin-right: 20px;

  text-align: center;

  background-color: grey;
  border: 1px solid black;
}
