body {
  margin: 0;
}

.container {
  height: 50px;
  min-width: 688px;
  padding: 10px 20px 10px 20px;
  margin-bottom: 15px;

  display: flex;
  justify-content: space-between;

  background-color: lightgrey;
}

.container-big-right,
.container-big-center {
  height: 112px;
  justify-content: center;
  gap: 20px;
}

.container-big-right {
  justify-content: end;
  flex-direction: row-reverse;
}

.block {
  height: 50px;
  width: 150px;

  text-align: center;

  background-color: grey;
  border: 1px solid black;
}

.block-big-height {
  height: 110px;
}

.block-big-width {
  width: 300px;
}

.block-wrapper-right,
.block-wrapper-center {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
}

.block-wrapper-left {
  display: flex;
  gap: 20px;
}

.container-big-right .block-wrapper-right,
.container-big-center .block-wrapper-center {
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
