@use "sass:color";
@use "../../abstracts/" as a;

.about {
  &__content {
    padding-block: a.$space-lg;
  }

  &__features {
    display: flex;
    justify-content: center;
  }

  &__list {
    padding-block: a.$space-sm;
    padding-inline: 0 a.$space-lg;
    border-right: 4px solid color.adjust(a.$color-basic, $alpha: -0.7);
  }

  &__feature {
    text-align: right;

    &:not(:last-child) {
      margin-bottom: a.$space-md;
    }
  }

  &__button {
    @include a.text-bold-h1;
    color: a.$color-grey-text;
    text-align: right;

    @include a.hover-color-smooth(a.$color-accent);

    &--active {
      @include a.gradient-text(a.$gradient-text-red-reversed);
      pointer-events: none;
    }
  }

  &__description {
    max-width: 87ch;
    padding-block: 73px;
    padding-inline: a.$space-lg 0;
  }

  &__title {
    @include a.text-bold-h2;
    margin-bottom: a.$space-md;
  }

  &__text {
    font-size: a.$font-size-lead;
  }
}
