@use "sass:color";
@use "../../abstracts/" as a;

.about {
  &__content {
    padding-block: 60px;
  }

  &__features {
    display: flex;
    justify-content: center;
  }

  &__list {
    padding: 14.5px 0;
    padding-right: 60px;
  }

  &__feature {
    text-align: right;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__button {
    @include a.text-bold-h1;
    color: a.$color-grey-text;
    text-align: right;

    @include a.hover-color-smooth(a.$color-accent);

    &--active {
      @include a.gradient-text(a.$gradient-text-red-reversed);
      pointer-events: none;
    }
  }

  &__description {
    max-width: 87ch;
    position: relative;
    padding: 73px 0 73px 64px;

    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 303px;
      background-color: color.adjust(a.$color-basic, $alpha: -0.7);
    }
  }

  &__title {
    @include a.text-bold-h2;
    margin-bottom: 30px;
  }

  &__text {
    font-size: a.$font-size-lead;
  }
}
