@use "../../abstracts/" as a;

.hero {
  @include a.flex-center;
  position: relative;
  min-height: 100vh;
  background: url(../../assets/images/homepage/h-bg.svg) center top / 100% 100%
    no-repeat;

  &__title {
    @include a.text-bold-h1;
    text-align: center;
  }

  &__scroll {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    color: a.$color-basic;

    @include a.hover-color-smooth(a.$color-accent);
  }
}
