@use "../../abstracts/" as a;

.hero {
  @extend %flex-center;
  min-height: 100vh;
  background: url(../../assets/images/homepage/h-bg.svg) center top / 100% 100%
    no-repeat;

  &__title {
    @extend %text-bold-h1;
    text-align: center;
  }

  &__scroll {
    color: a.$color-basic;

    @include a.hover-color-smooth(a.$color-accent);
  }
}
