@use "../../abstracts/" as a;

.services {
  padding-bottom: 60px;

  &__link {
    @include a.hover-color-smooth(a.$color-accent);
    font-weight: a.$font-weight-bold;
    font-size: a.$font-size-caption;
    line-height: a.$line-height-tight;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: a.$color-active-regular;
  }

  &__title {
    @include a.text-bold-h1;
    @include a.gradient-text(a.$gradient-text-red);
    margin-bottom: 60px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
  }
}
