@use "../abstracts/" as a;

.card {
  &__image {
    margin-bottom: a.$space-md;
  }

  &__title {
    @include a.text-bold(a.$font-size-h3);
    color: a.$color-active-regular;
    margin-bottom: a.$space-sm;
  }
}
