@use "../abstracts/" as a;

.language-selector {
  display: flex;

  &__link {
    @include a.flex-center;
    @include a.text-bold-sub;
    letter-spacing: 1px;

    min-width: 33px;
    min-height: 25px;
    padding: 5px 7px;

    &--active {
      border-radius: 8px;
      background-color: a.$color-accent;
    }
  }
}
