@use "../abstracts/" as a;

.languages-selector {
  display: flex;

  &__link {
    @extend %flex-center;
    font-weight: a.$font-weight-bold;
    font-size: a.$font-size-sub;
    line-height: a.$line-height-tight;
    letter-spacing: 1px;

    min-width: 33px;
    min-height: 25px;
    padding: 5px 7px;

    &--active {
      border-radius: 8px;
      background-color: a.$color-accent;
    }
  }
}
