@use "../abstracts/" as a;

.link {
  display: inline-flex;
  align-items: center;

  &--caption {
    @include a.text-bold-caption;
    @include a.hover-color-smooth(a.$color-accent);
    text-transform: uppercase;
    color: a.$color-active-regular;

    &::after {
      content: "";
      position: relative;
      bottom: 0;
      left: 2px;
      width: 8px;
      height: 8px;
      border-bottom: 2px solid currentColor;
      border-right: 2px solid currentColor;
      transform: rotate(-45deg);
    }
  }

  &--main {
    @include a.text-bold-main;
  }

  &--sub {
    @include a.text-bold-sub;
  }
}
