@use "../abstracts" as a;

.feature {
  &__icon {
    width: 3.125rem;
    height: auto;
    flex-shrink: 0;
  }

  &__text {
    text-align: left;
  }

  &__title,
  &__description {
    color: a.$color-light;
  }
}
