@use "../abstracts" as a;

.video {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &__poster {
    width: min(100%, a.rem(1110px));
    padding-inline: clamp(0rem, -0.091rem + 0.39vw, a.rem(6px));
  }

  &__play-btn {
    position: absolute;
    transition: filter 0.5s;

    &:hover {
      filter: brightness(0.8);
    }
  }

  &__play-icon {
    width: clamp(a.rem(50px), 2.367rem + 3.24vw, a.rem(100px));
  }
}
